<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boot.entity.mapper.WxCommunityHelpMapper" >
  <resultMap id="BaseResultMap" type="com.boot.entity.WxCommunityHelp" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="budget" property="budget" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="deal_state" property="dealState" jdbcType="BIT" />
    <result column="deal_user" property="dealUser" jdbcType="VARCHAR" />
    <result column="deal_time" property="dealTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.boot.entity.WxCommunityHelpWithBLOBs" extends="BaseResultMap" >
    <result column="comment" property="comment" jdbcType="LONGVARCHAR" />
    <result column="deal_remark" property="dealRemark" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, type, budget, create_time, deal_state, deal_user, deal_time
  </sql>
  <sql id="Blob_Column_List" >
    comment, deal_remark
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.boot.entity.WxCommunityHelpExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wx_community_help
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.boot.entity.WxCommunityHelpExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wx_community_help
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wx_community_help
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wx_community_help
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.boot.entity.WxCommunityHelpExample" >
    delete from wx_community_help
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.boot.entity.WxCommunityHelpWithBLOBs" >
    insert into wx_community_help (id, user_id, type, 
      budget, create_time, deal_state, 
      deal_user, deal_time, comment, 
      deal_remark)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{budget,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{dealState,jdbcType=BIT}, 
      #{dealUser,jdbcType=VARCHAR}, #{dealTime,jdbcType=TIMESTAMP}, #{comment,jdbcType=LONGVARCHAR}, 
      #{dealRemark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.boot.entity.WxCommunityHelpWithBLOBs" >
    insert into wx_community_help
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="budget != null" >
        budget,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="dealState != null" >
        deal_state,
      </if>
      <if test="dealUser != null" >
        deal_user,
      </if>
      <if test="dealTime != null" >
        deal_time,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="dealRemark != null" >
        deal_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="budget != null" >
        #{budget,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealState != null" >
        #{dealState,jdbcType=BIT},
      </if>
      <if test="dealUser != null" >
        #{dealUser,jdbcType=VARCHAR},
      </if>
      <if test="dealTime != null" >
        #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=LONGVARCHAR},
      </if>
      <if test="dealRemark != null" >
        #{dealRemark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.boot.entity.WxCommunityHelpExample" resultType="java.lang.Integer" >
    select count(*) from wx_community_help
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update wx_community_help
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.budget != null" >
        budget = #{record.budget,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dealState != null" >
        deal_state = #{record.dealState,jdbcType=BIT},
      </if>
      <if test="record.dealUser != null" >
        deal_user = #{record.dealUser,jdbcType=VARCHAR},
      </if>
      <if test="record.dealTime != null" >
        deal_time = #{record.dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.comment != null" >
        comment = #{record.comment,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.dealRemark != null" >
        deal_remark = #{record.dealRemark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update wx_community_help
    set id = #{record.id,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      budget = #{record.budget,jdbcType=DECIMAL},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      deal_state = #{record.dealState,jdbcType=BIT},
      deal_user = #{record.dealUser,jdbcType=VARCHAR},
      deal_time = #{record.dealTime,jdbcType=TIMESTAMP},
      comment = #{record.comment,jdbcType=LONGVARCHAR},
      deal_remark = #{record.dealRemark,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update wx_community_help
    set id = #{record.id,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      budget = #{record.budget,jdbcType=DECIMAL},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      deal_state = #{record.dealState,jdbcType=BIT},
      deal_user = #{record.dealUser,jdbcType=VARCHAR},
      deal_time = #{record.dealTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.boot.entity.WxCommunityHelpWithBLOBs" >
    update wx_community_help
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="budget != null" >
        budget = #{budget,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealState != null" >
        deal_state = #{dealState,jdbcType=BIT},
      </if>
      <if test="dealUser != null" >
        deal_user = #{dealUser,jdbcType=VARCHAR},
      </if>
      <if test="dealTime != null" >
        deal_time = #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=LONGVARCHAR},
      </if>
      <if test="dealRemark != null" >
        deal_remark = #{dealRemark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.boot.entity.WxCommunityHelpWithBLOBs" >
    update wx_community_help
    set user_id = #{userId,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      budget = #{budget,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      deal_state = #{dealState,jdbcType=BIT},
      deal_user = #{dealUser,jdbcType=VARCHAR},
      deal_time = #{dealTime,jdbcType=TIMESTAMP},
      comment = #{comment,jdbcType=LONGVARCHAR},
      deal_remark = #{dealRemark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boot.entity.WxCommunityHelp" >
    update wx_community_help
    set user_id = #{userId,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      budget = #{budget,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      deal_state = #{dealState,jdbcType=BIT},
      deal_user = #{dealUser,jdbcType=VARCHAR},
      deal_time = #{dealTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>